$gold: #FFA900;
$gray: #5c677d;
$green: #00B74A;
$main: #000814;
$pink: #d8315b;
$primary: #007dfa;
$secondary: #19243a;
$white: #e5e7eb;

$gradient: linear-gradient(130deg, $primary, $white);

$fsize-xs: 1rem;
$fsize-sm: 1.2rem;
$fsize-md: 1.4rem;
$fsize-rg: 1.6rem;
$fsize-lg: 1.8rem;
$fsize-xl: 2.4rem;
$fsize-xxl: 2.6rem;

$fweight-lt: 400;
$fweight-md: 600;
$fweight-bd: 800;
